/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

h1, h2, h3, p, a {
  font-family: 'Cutive Mono', monospace;
  color: #336; }

header nav a {
  text-decoration: none; }

section#card-area h1 {
  font-size: 2em; }
section#card-area h2 {
  font-size: 1.5em; }
section#card-area h3 {
  font-size: 1em; }
section#card-area p {
  font-size: 0.9em; }

@media screen and (min-width: 768px) {
  section#card-area h1 {
    font-size: 4em; }
  section#card-area h1, section#card-area h2 {
    text-shadow: 0 -2px 0 rgba(0, 0, 0, 0.25), 0 2px 0 rgba(255, 255, 255, 0.5); }
  section#card-area h2 {
    font-size: 3em; }
  section#card-area h1, section#card-area h2 {
    text-shadow: 0 -2px 0 rgba(0, 0, 0, 0.25), 0 2px 0 rgba(255, 255, 255, 0.5); }
  section#card-area h3 {
    font-size: 2em; }
  section#card-area h1, section#card-area h2 {
    text-shadow: 0 -2px 0 rgba(0, 0, 0, 0.25), 0 2px 0 rgba(255, 255, 255, 0.5); }
  section#card-area p {
    font-size: 1.5em; } }
body {
  background-image: url("../img/card-stock.jpg");
  background-size: cover; }

header {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25); }
  header nav {
    display: flex;
    justify-content: center; }
    header nav a {
      padding: 10px;
      margin: 10px 5px; }

section#card-area {
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: -10; }
  section#card-area .card-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    text-align: center; }
  section#card-area .card-top-left {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%); }
  section#card-area .card-top-right {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  section#card-area .card-bottom {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

@media screen and (min-width: 768px) {
  section#card-area {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between; }
    section#card-area * {
      text-align: center; }
    section#card-area .card-top {
      padding-top: 100px; }
    section#card-area .card-top-left {
      position: static;
      transform: none; }
    section#card-area .card-top-right {
      position: static;
      transform: none; } }
@media screen and (min-width: 1024px) {
  .card-top, .card-bottom {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto; }

  .card-top-left {
    display: flex; }
    .card-top-left p {
      align-self: flex-end; }

  .card-top-right h3 {
    text-align: right; } }

/*# sourceMappingURL=master.css.map */
