section#card-area {
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 1;
  .card-center {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .card-top-left {
    // position: absolute;
    // top: 15%;
    // left: 5%;
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .card-top-right {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .card-bottom {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
@media #{$tablet} {
  section#card-area {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    .card-top {
      padding-top: 100px;
    }
    .card-top-left {
      top: 65%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .card-top-right {
      position: static;
      transform: none;
    }
  }
}
@media #{$desktop} {
  section#card-area {
    .card-top, .card-bottom {
      display: flex;
      justify-content: space-between;
      width: 95%;
      margin: 0 auto;
    }
    .card-top-left {
      display: flex;
      position: static;
      transform: none;
      p {
        align-self: flex-end;
      }
    }
    .card-top-right h3 {
      text-align: right;
    }
  }
}
