section.card-area {
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: -10;
  .card-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    text-align: center;
  }
  .card-top-left {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .card-top-right {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .card-bottom {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
@media #{$tablet} {
  section.card-area {
    display: flex;
    flex-flow: column nowrap;      justify-content: space-between;
    * {
      text-align: center;
    }
    .card-center {
      // no change
    }
    .card-top {
      padding-top: 50px;
    }
    .card-top-left {
      position: static;
      transform: none;
      display: flex;
      p {
        align-self: flex-end;
      }
    }
    .card-top-right {
      position: static;
      transform: none;
    }
    .card-bottom {
      // no change
    }
  }
}
@media #{$desktop} {
  .card-top, .card-bottom {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
  }
  .card-top-right h3 {
    text-align: right;
  }
}
