section#gallery-area {
  text-align: center;
  padding: 70px 0 0;
  .gallery-group {
    display: flex;
    flex-wrap: wrap;
    .gallery-work-example {
      width: 100%;
      display: flex;
      flex-wrap: wrap;  
      background-color: #FFFd;
      & > * {
        align-self: center;
      }
    }
    .gallery-item {
      position: relative;
      background: white;
      img {
        width: 100%;
      }
      p {
        padding: 5px;
        font-size: 20px;
      }
      p.item-status {
        position: absolute;
        top: 20px;
        right: 10px;
        margin: 0;
        color: white;
        font-style: italic;
        font-size: 15px;
        background: #323654CC;
      }
    }
  }
}

@media #{$tablet} {
  section#gallery-area {
    .gallery-group {
      & > * {
        width: 50%;
      }
    }
  }
}
@media #{$desktop} {
  section#gallery-area {
    .gallery-group {
      & > a {
        width: 33.33%;
      }
      .gallery-work-example > * {
        width: 50%;
        margin: 60px 0;
      }        
    }
  }
}