body {
    background-image: url("../img/card-stock.jpg");
  section#card-area:after {
    content: '';
  	position: absolute;
    @extend .trbl0;
  	background-image: radial-gradient(white 0%, $ink 100%);
  	opacity: .33;
    z-index: -999
  }
}
#jackalope {
  width: 100px;
  position: absolute;
}
.jackalope-card {
  top: 33%;
  left: 50%;
  transition: all 1s;
  transform: translate(-50%, -50%) rotate(0);
}
.jackalope-gallery {
  top: 95px;
  left: 15%;
  transition: all 1s;
  transform: translate(-50%, -50%) rotate(-360deg);
}
@media #{$tablet} {
  #jackalope {
    width: 150px;
  }
  .jackalope-card {
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
  }
  .jackalope-gallery {
    top: 100px;
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
@media #{$desktop} {
  #jackalope {
    width: 200px;
  }
}
