h1, h2, h3, p, a {
  font-family: 'Cutive Mono', monospace;
  color: $ink;
  text-decoration: none;
}
nav a {
  color: white;
}
$base-font-em: 1em;
$headers: 3;
@for $i from 1 through $headers {
  $this-font-size: (($headers - $i)*0.5) + $base-font-em;
  h#{$i} {
    font-size: $this-font-size;
    }
  }
  p {
    font-size: $base-font-em * 1.2;
  }

@media #{$tablet} {
  $base-font-em: 2em;
  $headers: 3;
  @for $i from 1 through $headers {
    $this-font-size: $headers - $i + $base-font-em;
    h#{$i} {
      font-size: $this-font-size;
    }
    h1, h2 {
      text-shadow: $engrave;
    }
  }
  p {
    font-size: $base-font-em * 0.75;
  }
}
